<!-- We will be using the service Gravatar in order to manage image upload --> 
<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
    	<!-- Will display the user's avatar and their name on the page -->
		<!-- gravatar_for is a method that we define in the user_helper file -->
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>

